:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* ------ reset styles --------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  display: none;
}

/* ========================================================================================================================================================
EXTENDED
======================================================================================================================================================== */
/* COMMON & MOBILE *********************************************/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white);
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
}
.under-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* TABLET ********************************************/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* DESKTOP ****************************************/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ========================================================================================================================================================
HEADER
======================================================================================================================================================== */
/* /* COMMON & MOBILE ************************************ */
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-list,
.address {
  display: none;
}
.nav {
  margin-right: auto;
}
.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 16px 0;
}
.logo-part {
  color: var(--navy-blue);
}

.burger-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #2f2f37;
}
.burger-menu-icon {
  display: block;
}
/* HEADER_TABLET ******************************************/
@media screen and (min-width: 768px) {
  .burger-menu-btn,
  .mob-menu {
    display: none;
  }
  /* --     Nav List      -- */
  .logo-header {
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }
  .current {
    position: relative;
    color: var(--ocean);
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    background-color: var(--ocean);
    border-radius: 2px;
    width: 48px;
    height: 4px;
  }
  .address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .address-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }
}

/* HEADER_DESKTOP ***************************************/
@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .address {
    display: flex;
    margin-left: auto;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========================================================================================================================================================
MOBILE MENU
======================================================================================================================================================== */
@media screen and (max-width: 767px) {
  .backdrop {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mob-menu-container {
    padding: 72px 16px 40px 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mob-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu-nav {
    margin-bottom: auto;
  }
  .mob-menu-nav-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .mob-menu-nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-address {
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    color: #434455;
    font-size: 20px;
  }

  .mob-menu-address-list. {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .mob-menu-contacts-box .team-social-list {
    display: flex;
    margin-top: 48px;
    gap: 40px;
  }
  .mob-menu-contacts-box .team-social-item {
    width: 40px;
    height: 40px;
  }
  .current {
    color: var(--ocean);
  }
}

/* ========================================================================================================================================================
HERO_SECTION
======================================================================================================================================================== */
/* COMMON & MOBILE *************************************/
.hero-section {
  background-color: var(--navy-blue);
  max-width: 320px;
  min-height: 432px;
  padding: 72px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* -----------background img------------------ */
@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-mobile@2x.jpg);
  }
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
/* --  Hero-Button  -- */
.hero-button {
  display: block;
  background-color: var(--iris);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  border: none;
  border-radius: 4;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
/* HERO_TABLET ****************************************/
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    min-height: 436px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-tablet@1x.jpg);
  }

  /* -----------background img-------------- */
  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-tablet@2x.jpg);
    }
  }
  .headline {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/* HERO_DESKTOP ***************************************/
@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    min-height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-desktop@1x.jpg);
  }

  /* ---------background img---------------------- */
  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-desktop@2x.jpg);
    }
  }

  .headline {
    margin-bottom: 48px;
  }
}
/* ========================================================================================================================================================
TEH STECK SECTION
======================================================================================================================================================== */
/* COMMON & MOBILE ************************************ */
.teh-stack-list {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  gap: 72px;
  margin-right: auto;
  margin-left: auto;
}
.teh-item-box {
  display: none;
}
.teh-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.teh-item-text {
  font-weight: 500;
  font-size: 16px;
  color: var(--slate);
}
/* TEHSTECK SECTION_TABLET ************************* */
@media screen and (min-width: 768px) {
  .teh-stack-list {
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 736px;
    gap: 24px;
    row-gap: 72px;
  }
  .teh-list-item {
    flex-basis: calc((100% - 2 * 24px) / 2);
  }
}
.teh-item-title {
  text-align: start;
}
/* TEH STECK SECTION_DESKTOP **************************/
@media screen and (min-width: 1158px) {
  .teh-stack-list {
    max-width: 1128px;
  }
  .teh-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .teh-item-box {
    width: auto;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .teh-item-box-icon {
    display: block;
  }
}

/* ========================================================================================================================================================
TEAM SECTION
======================================================================================================================================================== */
/* COMMON & MOBILE *************************************/
.team-section {
  background-color: var(--cloud);
}

.team-section-title {
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  .team-section-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
  }
}

.team-list-item {
  background: var(--white);
  text-align: center;
  width: 264px;
  height: 428px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.team-item-box {
  padding: 32px 0;
}
.team-item-title {
  margin-bottom: 8px;
}
.team-item-box .text {
  margin-bottom: 8px;
}
/* --  Team Social List -- */

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}
.team-social-item {
  width: 40px;
  height: 40px;
}

/* TEAM SECTION_TABLET ********************************/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    width: 552px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
/* TEAM SECTION_DESKTOP *******************************/
@media screen and (min-width: 1158px) {
  .team-section-list {
    display: flex;
    gap: 24px;
    /* margin-left: auto;
    margin-right: auto; */
  }
}
/* ========================================================================================================================================================
PORTFOLIO SECTION
======================================================================================================================================================== */
/* COMMON & MOBILE ************************************/
.portfolio-section-title {
  margin-bottom: 72px;
}
.portfolio-section-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-list-item {
  background: var(--white);
  width: 288px;
  height: 400px;
}
.portfolio-item-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-under-title {
  margin-bottom: 8px;
}
/* -- == portfolio-overley == -- */
.portfolio-overley-wrapper {
  position: relative;
  overflow: hidden;
}

.text-portfolio-overlay {
  display: block;
  font-size: 16px;
  line-height: 150%;
  color: var(--cloud);
  padding: 40px 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  z-index: 99;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .text-portfolio-overlay {
  transform: translateY(0);
}

/* PORTFOLIO_TABLET **********************************/
@media screen and (min-width: 768px) {
  .portfolio-section-list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: 356px;
    height: 420px;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (max-width: 1157px) {
  .portfolio-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* PORTFOLIO_DESKTOP *********************************/
@media screen and (min-width: 1158px) {
  .portfolio-section-list {
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: 360px;
    height: 420px;
    flex-basis: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* ========================================================================================================================================================
PAGE FOOTER
======================================================================================================================================================= */
/* COMMON & MOBILE *************************************/
.footer {
  background-color: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

.logo-footer {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 16px 0;
}
.logo-part-footer {
  color: var(--cloud);
}
.text-footer {
  color: var(--cloud);
  width: 288px;
}
/* --  footer Social List -- */

.footer-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  fill: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}
/* --  subscribe-footer-box   -- */

.footer-subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.subscribe-email-input {
  background-color: transparent;
  min-width: 288px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-email-btn {
  display: flex;
  background-color: var(--iris);
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  fill: white;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-email-btn:hover,
.subscribe-email-btn:focus {
  background-color: var(--green);
}
.subscribe-email-btn-icon {
  margin-left: 16px;
}
/* PAGE FOOTER_TABLET *********************************/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 530px;
  }

  .text-footer {
    width: 264px;
  }
  .logo-footer {
    text-align: start;
  }
  .footer-description {
    text-align: start;
  }
  .subscribe-email-input {
    min-width: 264px;
  }
}
/* PAGE FOOTER_DESKTOP ********************************/
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer-description {
    text-align: start;
  }
  .footer-desc-box {
    margin-right: 120px;
  }
  .logo-footer {
    text-align: start;
  }
  .footer-social-box {
    margin-right: 80px;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .footer-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    fill: var(--cloud);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: var(--green);
  }
  /* --  subscribe-footer-box   -- */
  .footer-subscribe-form {
    flex-wrap: nowrap;
  }
  .subscribe-email-input {
    background-color: transparent;
    min-width: 264px;
    height: 40px;
    padding: 8px 16px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .subscribe-email-btn {
    display: flex;
    background-color: var(--iris);
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;

    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    fill: white;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-email-btn:hover,
  .subscribe-email-btn:focus {
    background-color: var(--green);
  }
  .subscribe-email-btn-icon {
    margin-left: 16px;
  }
}
/* ========================================================================================================================================================
MODAL-WINDOW
======================================================================================================================================================== */
/* COMMON & MOBILE *************************************/
@media screen and (max-width: 767px) {
  .backdrop {
    position: fixed;
    background-color: var(--navy-blue-modal);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dairy);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    max-width: 360px;
    margin-bottom: 16px;
  }
  /*--  modal-close-btn  -- */
  .modal-close-btn {
    position: absolute;
    display: flex;
    background-color: var(--cornflower);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: var(--navy-blue);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: var(--ocean);
    fill: #ffffff;
    border: none;
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* -- ====== Modal Form ====== -- */

  .modal-form-fild-wrapper {
    margin-bottom: 8px;
  }
  .modal-form-fild-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
  }
  .modal-form-input-covering {
    position: relative;
  }
  .modal-form-input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-input:focus {
    outline: transparent;
    border-color: #4d5ae5;
  }

  /* -- -input-icon  -- */
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-input:focus + .modal-form-input-icon {
    fill: #4d5ae5;
  }
  /* --  user-comment  -- */
  .modal-comment-wrapper {
    margin-bottom: 16px;
  }

  .modal-form-textarea {
    background-color: transparent;
    width: 100%;
    height: 120px;
    padding: 8px 16px 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--navy-blue-modal);

    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-textarea:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }

  .modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
  }
  /* --  privacy-checkbox   -- */
  .modal-form-checkbox-wrapper {
    margin-bottom: 24px;
  }

  .modal-form-checkbox-label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
  }
  .privacy-p-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
    cursor: pointer;
  }
  .modal-form-checkbox-customize {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    border: 1px solid var(--navy-blue-modal);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-checkbox:checked
    + .modal-form-checkbox-label
    .modal-form-checkbox-customize {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  .modal-form-checkbox:focus
    + .modal-form-checkbox-label
    .modal-form-checkbox-customize {
    outline: 1px solid var(--iris);
  }

  /* --  Button Submit  -- */
  .modal-form-submit {
    display: block;
    background-color: var(--iris);
    min-width: 169px;
    height: 56px;

    color: var(--white);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-submit:hover,
  .modal-form-submit:focus {
    background-color: var(--ocean);
  }
}
/* MODAL-WINDOW_TABLET ********************************/
@media screen and (min-width: 768px) {
  .backdrop {
    position: fixed;
    background-color: var(--navy-blue-modal);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dairy);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    max-width: 360px;
    margin-bottom: 16px;
  }
  /*--  modal-close-btn  -- */
  .modal-close-btn {
    position: absolute;
    display: flex;
    background-color: var(--cornflower);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: var(--navy-blue);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: var(--ocean);
    fill: #ffffff;
    border: none;
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* -- ====== Modal Form ====== -- */

  .modal-form-fild-wrapper {
    margin-bottom: 8px;
  }
  .modal-form-fild-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
  }
  .modal-form-input-covering {
    position: relative;
  }
  .modal-form-input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-input:focus {
    outline: transparent;
    border-color: #4d5ae5;
  }

  /* -- -input-icon  -- */
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-input:focus + .modal-form-input-icon {
    fill: #4d5ae5;
  }
  /* --  user-comment  -- */
  .modal-comment-wrapper {
    margin-bottom: 16px;
  }

  .modal-form-textarea {
    background-color: transparent;
    width: 100%;
    height: 120px;
    padding: 8px 16px 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--navy-blue-modal);

    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-textarea:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }

  .modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
  }
  /* --  privacy-checkbox   -- */
  .modal-form-checkbox-wrapper {
    margin-bottom: 24px;
  }

  .modal-form-checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
  }
  .privacy-p-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
    cursor: pointer;
  }
  .modal-form-checkbox-customize {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    border: 1px solid var(--navy-blue-modal);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-checkbox:checked
    + .modal-form-checkbox-label
    .modal-form-checkbox-customize {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  .modal-form-checkbox:focus
    + .modal-form-checkbox-label
    .modal-form-checkbox-customize {
    outline: 1px solid var(--iris);
  }
  .modal-form-checkbox-privacy-text {
  }
  /* --  Button Submit  -- */
  .modal-form-submit {
    display: block;
    background-color: var(--iris);
    min-width: 169px;
    height: 56px;

    color: var(--white);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-submit:hover,
  .modal-form-submit:focus {
    background-color: var(--ocean);
  }
}
/* MODAL-WINDOW_DESKTOP *******************************/
